.icon {
  &-18 {
    height: 18px;
    width: 18px;
  }

  &-24 {
    height: 24px;
    width: 24px;
  }

  &-30 {
    height: 30px;
    width: 30px;
  }

  &-32 {
    height: 32px;
    width: 32px;
  }

  &-40 {
    height: 40px;
    width: 40px;
  }

  &-42 {
    height: 42px;
    width: 42px;
  }
}
