@use "../../styles/global";
@use "../../styles/components/link-btn";
@use "../../styles/components/icon";
@use "../../styles/components/navigation";
@use "../../styles/mixins/link-btn-back-states";

body {
  overflow: hidden;
  display: grid;
  grid-template: "header header" 58px "main main" 1fr "footer footer" 56px / 2fr 3fr;
}

.header-container {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  background-color: global.$primary;

  .title-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 8px 0;

    .title {
      font-family: global.$raleway;
      font-size: 1.8rem;
      color: global.$white;
      font-weight: 700;
      margin: 0;
      flex-grow: 1;
    }
  }
}

.link-btn-back {
  margin: 0 8px;
  padding: 0;

  @include link-btn-back-states.link-btn-back-states;

  .icon-back {
    filter: invert(100%) brightness(200%);
  }
}

p {
  font-family: global.$raleway;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5em;
  width: 100%;
  margin: 0.2em 0;
}

.main-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: global.$primary;

  .map-container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 40px;

    .map {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      filter: drop-shadow(0 4px 2px rgb(0 0 0 / 25%));
      border: none;
    }
  }

  .contact-container {
    background-color: global.$white;
    width: 100%;
    padding: 10px 40px;
    flex: 0 0;
    filter: drop-shadow(0 0 2mm rgb(0 0 0 / 15%));

    .adress-container {
      margin-bottom: 15px;

      .agency-name {
        display: flex;
        justify-content: start;
        align-items: center;
        color: global.$black;
        font-family: global.$raleway;
        font-size: 1.5rem;
        font-weight: 500;

        .logo {
          margin-left: 0.5em;
        }
      }
    }

    .agents-container {
      display: grid;
      grid-template-columns: 30% 70%;
      margin: 15px 0;

      & > p {
        font-weight: 500;
      }

      .phone {
        display: flex;
        align-items: center;

        .icon-phone {
          margin-right: 0.5em;
        }
      }
    }
  }
}

.footer {
  grid-area: footer;
  z-index: 1;
}

@media (width >= 768px) {
  body {
    background-color: global.$primary;
    grid-template-rows: 56px 1fr 58px;
    grid-template-areas:
      "footer footer"
      "main backgroundImg"
      "main backgroundImg";
  }

  .header-container {
    display: none;
  }

  .main-container {
    background-color: global.$white;

    .map-container {
      margin: 0;
      background-color: global.$white;
    }

    .contact-container {
      filter: unset;
    }
  }

  .background-image {
    grid-area: backgroundImg;
    background-image: url("/images/landing.png");
    background-position: bottom right 5%;
    background-repeat: no-repeat;
    background-size: 50%;
  }
}
