@use "../../styles/global";
@use "../../styles/components/link-btn";
@use "../../styles/components/icon";
@use "../../styles/components/gallery";
@use "../../styles/components/navigation";
@use "../../styles/mixins/input";
@use "../../styles/mixins/background-image";

body {
  display: flex;
  flex-direction: column;
}

.header-container {
  @include background-image.background-wth-image(
    $url: "/images/home.png",
    $imgPositon: top,
    $bgColor: global.$white
  );

  position: relative;
  flex: 1 1;

  .title-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 36px;
    align-content: center;

    .title {
      margin: 0;
    }

    .link-container {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      .link-btn {
        margin: 1em 0.5em 1em 0;
        min-width: 150px;
      }

      .icon-rent {
        margin-right: 0.5em;
        transform: rotate(90deg);
      }
    }
  }

  .search-container {
    display: flex;
    place-items: center stretch;
    margin-top: 8px;
    max-width: 698px;

    .input {
      @include input.input(
        $bgColor: global.$white-alpha,
        $color: global.$grey-alpha
      );

      width: 100%;
    }

    .icon-search {
      position: absolute;
      left: 45px;
      opacity: 0.2;
    }
  }
}

.main-container {
  background-color: global.$offwhite;
  filter: drop-shadow(0 0 2mm rgb(0 0 0 / 15%));
}

.footer {
  z-index: 1;
}

@media (width >= 768px) {
  .header-container {
    position: relative;
    top: 56px;
    height: calc(100% - 56px);
  }
}
