@use "../fonts";
@use "../colors";

@mixin backgroundImage($url, $imgPositon, $bgColor) {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  background-image: url($url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: $imgPositon;
  font-family: fonts.$raleway;
}
